In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Importing Dependencies

In [2]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [3]:
!pip show scikit-learn

Name: scikit-learn
Version: 1.2.2
Summary: A set of python modules for machine learning and data mining
Home-page: http://scikit-learn.org
Author:
Author-email:
License: new BSD
Location: /usr/local/lib/python3.9/dist-packages
Requires: joblib, numpy, scipy, threadpoolctl
Required-by: fastai, imbalanced-learn, librosa, lightgbm, mlxtend, qudida, sklearn-pandas, yellowbrick

#Data Collection and Analysis
PIMA Diabetes Dataset

In [4]:
#loading diabetes dataset to a pandas DataFrame
diabetes_dataset = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Datasets/diabetes.csv")

In [5]:
#print first 5 rows
diabetes_dataset.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [6]:
diabetes_dataset.shape

(768, 9)

In [7]:
diabetes_dataset['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

Inference -> As we can see this dataset has 500 non diabetic and 268 diabetic people.

In [8]:
diabetes_dataset.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [9]:
diabetes_dataset.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

Data Standardization

In [10]:
no = diabetes_dataset[diabetes_dataset.Outcome==0]
yes = diabetes_dataset[diabetes_dataset.Outcome==1]
no = no.sample(n=268)
new_data = pd.concat([no,yes],axis =0)

In [11]:
scaler = StandardScaler()

X = new_data.iloc[:,:-1]
print(X)
X=scaler.fit_transform(X)
Y= new_data.iloc[:,-1]

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
133            8       84             74             31        0  38.3
727            0      141             84             26        0  32.4
724            1      111             94              0        0  32.8
599            1      109             38             18      120  23.1
411            1      112             72             30      176  34.4
..           ...      ...            ...            ...      ...   ...
755            1      128             88             39      110  36.5
757            0      123             72              0        0  36.3
759            6      190             92              0        0  35.5
761            9      170             74             31        0  44.0
766            1      126             60              0        0  30.1

     DiabetesPedigreeFunction  Age
133                     0.457   39
727                     0.433   22
724                     0.265   45
599                     0.407   26
411                     0.528   25
..                        ...  ...
755                     1.057   37
757                     0.258   52
759                     0.278   66
761                     0.403   43
766                     0.349   47

[536 rows x 8 columns]

#Train test split

In [12]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,stratify=Y,random_state = 2)

In [13]:
X_train.shape

(428, 8)

In [14]:
X_test.shape

(108, 8)

In [15]:
X.shape

(536, 8)

#Model Training

In [16]:
classifier = svm.SVC(kernel="linear")

In [17]:
classifier.fit(X_train,Y_train)

SVC(kernel='linear')

#Evaluating model

In [18]:
#Accuracy Score of Training Data
X_train_prediction = classifier.predict(X_train)
training_accuracy = accuracy_score(X_train_prediction,Y_train)
print(training_accuracy)

0.7780373831775701

In [19]:
X_test_predicition = classifier.predict(X_test)
testing_accuracy = accuracy_score(X_test_predicition,Y_test)
print(testing_accuracy)

0.6944444444444444

#Predictive System

In [65]:
input_data = (1,125,50,40,167,33.3,0.962,28)

inp = np.asarray(input_data)
# print(inp)
reshaped = inp.reshape(1,-1)
# print(reshaped)
x = scaler.transform(reshaped)

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [66]:
data=classifier.predict(x)

In [67]:
print(data)

[1]